body {
  // Text
  --manu-title-color: rgb(255, 255, 255);
  --manu-title-size: 24px;

  --manu-subtitle-color: rgb(255, 255, 255);
  --manu-subtitle-size: 14px;

  --manu-content-color: rgb(255, 255, 255);
  --manu-content-size: 14px;

  --manu-italic-color: rgb(255, 255, 255);
  --manu-bold-color: rgb(255, 255, 255);
  --manu-italic-bold-color: rgb(255, 255, 255);

  --manu-break-font-size: 14px;
  --manu-break-font-color: rgb(255, 255, 255);

  // Spacing
  --manu-title-text-align: center;
  --manu-subtitle-text-align: center;

  --manu-content-indent: 50px;
  --manu-content-margin-top: 16px;
  --manu-content-margin-bottom: 16px;

  --manu-margin-top: 4px;
  --manu-margin-bottom: 4px;

  // Breaks
}

// Set default view, and remove all other elements
.callout[data-callout~="manuscript"] {
  --callout-icon: "";

  background-color: rgba(0, 0, 0, 0);
  font-family: "Times New Roman", Times, serif;

  p {
    text-indent: var(--manu-content-indent);
    margin-top: var(--manu-content-margin-top);
    margin-bottom: var(--manu-content-margin-bottom);
  }

  em {
    color: var(--manu-italic-color);
  }

  strong {
    color: var(--manu-bold-color);
  }

  strong > em,
  em > strong {
    color: var(--manu-italic-bold-color);
  }

  .callout-title,
  .callout-icon {
    display: none;
  }

  .callout[data-callout~="manuscript"] {
    padding-left: unset;
    padding-right: unset;
    .callout-title {
      display: block;
      text-align: center;
      .callout-icon {
        display: none;
      }
    }
  }

  .callout[data-callout-metadata~="title"] > .callout-title > .callout-title-inner {
    font-size: var(--manu-title-size);
    color: var(--manu-title-color);
  }
  .callout[data-callout-metadata~="subtitle"] > .callout-title > .callout-title-inner {
    font-size: var(--manu-subtitle-size);
    color: var(--manu-subtitle-color);
  }

  // Breaks
  .callout[data-callout-metadata~="break"] {
    --callout-icon: var(--manu-break-img-default);
    .callout-title {
      .callout-title-inner {
        display: none;
      }
      .callout-icon {
        display: none;
      }
    }
    .callout-content {
      p {
        text-indent: unset;
        font-size: var(--manu-break-font-size);
        color: var(--manu-break-font-color);
        text-align: center;
        margin: auto;
        .image-embed {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 50%;
        }
      }
    }
  }
}

/* @settings

name: Manuscription Snippets
id: manuscription-snippet
settings:
- id: manu-text
  title: Text
  type: heading
  level: 4
	collapsed: true
  
- id: manu-title-color
  title: Title Color
  type: variable-color
  default: rgb(255, 255, 255)
  format: hex
- id: manu-title-size
  title: Title Size
  type: variable-text
  default: 24px
  
- id: manu-subtitle-color
  title: Subtitle Color
  type: variable-color
  default: rgb(255, 255, 255)
  format: hex
- id: manu-subtitle-size
  title: Title Size
  type: variable-text
  default: 14px
  
- id: manu-content-color
  title: Content Color
  type: variable-color
  default: rgb(255, 255, 255)
  format: hex
- id: manu-content-size
  title: Content Size
  type: variable-text
  default: 14px
  
- id: manu-italic-color
  title: Italic Color
  type: variable-color
  format: hex
- id: manu-bold-color
  title: Bold Color
  type: variable-color
  format: hex
- id: manu-italic-bold-color
  title: Italic + Bold Color
  type: variable-color
  format: hex
  
- id: manu-break-font-size
  title: Break Font Size
  type: variable-text
  default: 14px
- id: manu-break-font-color
  title: Break Font Color
  type: variable-color
  format: hex
  default: rgb(255,255,255)
*/
